{% extends 'base.html.twig' %}

{% block title %}New Livre{% endblock %}

{% block body %}


    <div class="container">

        <h1 class="d-flex justify-content-between">Ajouter un livre
        
            <a class="btn btn-primary mt-2" href="{{ path('app_livre_index') }}">Retour a la liste</a>
        </h1>

        {{ include('livre/_form.html.twig') }}


    <div> 
{% endblock %}
